<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Potato weather</title>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="title">
                <h2>Potato Weather</h2>
                <h6>Check weather in your city</h6>
            </div>
        </div>
        <div class="search-container">
            <div class="search-div">
                <form>
                    <div class="desc">Weather in your city: </div>
                    <input name="city" type="text" placeholder="Search city">
                    <button>Search</button>
                </form>
            </div>     
        </div>
    </div>
</body>