<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/afb0712a36.js" crossorigin="anonymous"></script>
    <title>Potato weather</title>
</head>
<body>
    <div class="container">
        <div class="temperature-container">
                <div class = "main-div">
                    <div class="city-clouds">
                        <div class="city">Cracow, Poland</div>
                        <div class="clouds">
                            <i class="fa-solid fa-cloud-moon"></i>
                        </div>
                    </div>
                    <div class="temperature">
                        34°C
                    </div>
                    <div class="buttons">
                        <button class="wind">Wind</button>
                        <button class="rain">Rain</button>
                        <button class="tommorow">Tommorow</button>
                    </div> 
                </div>
        </div>
    </div>
</body>