body {
    margin: 0;
    font-family: 'monosapce';

}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #773910 0%, #54433A 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 50%;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    width: 100%;   
    text-align: center;
}

.title {
    font-size: 56px;
}

.subtitle {
    font-size: 26px;
}

.search-container {
    width: 50%;
}

.search-div {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.main, .search, .login {
    width: 100%;
    height: auto;
    padding: 10vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
}

.register{
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
}

.button-el {
    background: rgba(188, 167, 156, 0.7);
    width: 50%;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 2.5em;  
    margin: 1em;
}

input {
    background-color: transparent;
    border: 1px solid black;
    width: 60%;
    padding: 1em;
    margin: 1em;
    font-size: 24px;
}

.desc {
    text-align: left;
    font-size: 1.5em;
    padding: 0.5em;
    margin-right: 1em;
}

.div-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.div-cont > button {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);

}

.temperature-cont {
    font-size: 15vh;
    margin: auto;
}

.div-cont > .localization {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

.div-cont > .weather {
    margin: auto;
    width: 50%;
    text-align: center;
}

.div-cont > .weather > img { 
    height: 11em;
}

.div-properties {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.property-column {
    width: 50%;
    text-align: left;
}

.div-properties > .property-column > .div-data {
    display: flex;
    width: 100%;
    height: 18%;
    font-size: 1.5em;
    font-weight: 550;
    margin-left: 10%;
}

.register-href {
    padding-top: 10px;
    color: #000000;
    font-size: 1.15em;
    text-underline-mode: off;
}

.user-panel {
    width: 100%;
    height: 7.5vh;
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.user-panel > .history {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.user-panel >.history >.history-weather {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
    border-right: 0.5px solid grey;
    padding-left: 8px;
    font-size: 20px;
}

.user-panel >.history >.history-weather > img {
    height: 20px;
    margin-right: 2px;
}

.user-panel > .loged-user {
    width: 20%;
    display: flex;
    flex-direction: row;
    margin: auto 0;
    font-size: 20px;
}

.user-panel > .loged-user > img{
    height: 30px;
    width: 20%;
    margin: auto;
}

.user-panel > .loged-user > .user-info {
    width: 80%;
}

.user-panel > .loged-user > .user-info > .logout > a {
    color: black;
    font-size: 15px;
}


.no-valid {
    border: 3px solid black;
    box-shadow: 0 0 0.2em black;
    outline: none;
}





@media only screen and (max-device-width: 440px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .logo-container, .search-container {
        width: 100%;
    }

    .logo-container {
        margin-bottom: 15%;
    }

    .search-container {
        margin-bottom: 25%;
    }

    form {
        margin: auto;
    }

    img {
        height: 10em;
        margin: 0em;
    }

  
}