body {
    margin: 0;
    font-family: 'monosapce';

}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #773910 0%, #54433A 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 50%;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    width: 100%;   
    text-align: center;
}

.title {
    font-size: 45px;
}

.subtitle {
    font-size: 25px;    
}



.search-container {
    width: 50%  ;
    
}

form {
    width: 75%;
    
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 10%;
    padding-top: 10%;
}

button {
    background: rgba(188, 167, 156, 0.7);
    width: 50%;
    border: none;
    margin: 1en;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 2.5em;  
    margin: 1em;
}

input {
    background-color: transparent;
    border: 1px solid black;
    width: 60%;
    padding: 1em;
    margin: 1em;
    font-size: 24px;
}

.desc {
    text-align: left;
    font-size: 30px;
    padding: 0.5em;
    margin-right: 1em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .logo-container, .search-container {
        width: 100%;
    }
}